<div class="container">
    <div class="row">
        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="top: -35px;">
                        <h1>Filters</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Ads filter</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>