<!-- Ads site section-->
<div class="site-section border-top border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="top: -35px;">
                <h1>Recomanded Ads</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <app-ad-tile></app-ad-tile>
            </div>

            <div class="col-md-3">
                <app-ad-tile></app-ad-tile>
            </div>
            <div class="col-md-3">
                <app-ad-tile></app-ad-tile>
            </div>
            <div class="col-md-3">
                <app-ad-tile></app-ad-tile>
            </div>
            <div class="col-md-3">
                <app-ad-tile></app-ad-tile>
            </div>
            <div class="col-md-3">
                <app-ad-tile></app-ad-tile>
            </div>
            <div class="col-md-3">
                <app-ad-tile></app-ad-tile>
            </div>
            <div class="col-md-3">
                <app-ad-tile></app-ad-tile>
            </div>
            <div class="col-md-3">
                <app-ad-tile></app-ad-tile>
            </div>
            <div class="col-md-3">
                <app-ad-tile></app-ad-tile>
            </div>
            <div class="col-md-3">
                <app-ad-tile></app-ad-tile>
            </div>
            <div class="col-md-3">
                <app-ad-tile></app-ad-tile>
            </div>
            <div class="col-md-3">
                <app-ad-tile></app-ad-tile>
            </div>
            <div class="col-md-3">
                <app-ad-tile></app-ad-tile>
            </div>
        </div>
    </div>
</div>
<!-- .site-section -->